{% extends 'resumes/base.html' %}
{% block title %}Список резюме{% endblock %}
{% block content %}
<h1>Список резюме</h1>
<a href="{% url 'resume_create' %}" class="btn btn-primary mb-3">Створити нове резюме</a>
{% if resumes %}
<div class="list-group">
    {% for resume in resumes %}
        <a href="{% url 'resume_edit' resume.pk %}" class="list-group-item list-group-item-action">
            <h5 class="mb-1">{{ resume.title }}</h5>
        </a>
    {% endfor %}
</div>
{% else %}
<p>Резюме не знайдено.</p>
{% endif %}
{% endblock %}
